Django==6.0.2
python-dotenv==1.2.2

djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

channels==4.3.2
daphne==4.2.1

django-storages==1.14.6
boto3==1.42.82

django-extensions==4.1

celery==5.6.2
redis==7.2.0

stripe==15.0.1
anthropic==0.88.0
livekit-api==1.1.0

pdfplumber==0.11.9
reportlab==4.4.10

psycopg[binary]>=3.2,<4

pytest==9.0.2
pytest-django==4.12.0
